<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.youdian.android_demos"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    <instrumentation android:name="android.test.InstrumentationTestRunner" android:targetPackage="org.youdian.android_demos"></instrumentation>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> 
	<uses-permission android:name="android.permission.GET_TASKS"/>
	<uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
	
	<uses-permission android:name="org.youdian.android_demos.GLOBAL_PERMISSION"/>
	<permission android:name="org.youdian.android_demos.GLOBAL_PERMISSION" android:protectionLevel="signature"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme" >
        <uses-library android:name="android.test.runner"/>
        <activity
            android:name="org.youdian.android_demos.view.MainActivity"
            android:hardwareAccelerated="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <!-- 隐式启动actiivty，不在launcher程序列表中显示  同时， actiivity设置android:theme="@android:style/Theme.NoDisplay"
                <data 
                    android:host="view.MainActivity"
                    android:scheme="org.youdian.android_demos"
                    />
                     -->
            </intent-filter>
        </activity>
        <activity 
            android:name=".MainActivity"
            android:exported="true"
            ></activity>
        <activity 
            android:name="org.youdian.android_demos.application.SecondActivity"
            />
        <activity 
            android:name="org.youdian.android_demos.application.ThirdActivity"
            />
        <activity 
            android:name="org.youdian.android_demos.intent.SecondActivity"
            />
        <activity 
            android:name="org.youdian.android_demos.shortcut.ShortCutActivity"
            android:label="@string/app_name"
            android:icon="@drawable/ic_launcher"
            >
           <intent-filter >
                <action android:name="android.intent.action.CREATE_SHORTCUT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <!-- broadcast -->
        <receiver 
            android:name=".broadcast.GlobalReceiver"
            android:permission="org.youdian.android_demos.GLOBAL_PERMISSION"
            >
            <intent-filter>
                <action android:name="org.youdian.android_demos.GLOBAL_ACTION"/>
            </intent-filter>
            
        </receiver>
        <service 
            android:name="org.youdian.android_demos.application.FloatWindowService"
            ></service>
        <service 
            android:name="org.youdian.android_demos.service.MyAIDLService"
            android:process="org.youdian.android_demos.service.aidl"
            android:exported="true"
            />
         <service 
            android:name="org.youdian.android_demos.service.MyMessengerService"
            android:process="org.youdian.android_demos.service.messenger"
            android:exported="true"
            />
        <service 
            android:name="org.youdian.android_demos.service.LongRunningService"
            />
        <provider 
            android:name="org.youdian.android_demos.contentprovider.DetailsContentProvider"
            android:authorities="org.youdian.detailedlist.provider"
            android:exported="false"
            ></provider>
        <receiver 
            android:name="org.youdian.android_demos.appwidget.MyWidgetProvider"
            >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_simple"/>
        </receiver>
        <service 
            android:name="org.youdian.android_demos.appwidget.MyRemoteViewsService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            >
        </service>
        <activity 
            android:name="org.youdian.android_demos.appwidget.MainActivity"
            />
        <activity 
            android:name="org.youdian.android_demos.appwidget.ConfigActivity"
            >
            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>
        
        <!-- start of broadcast -->
        <receiver 
            android:name=".broadcast.FirstOrderedReceiver"
            ></receiver>
        <!-- end of broadcast -->
    </application>

</manifest>
